
<div  class="jui-tab-content page-business" >
    <ul class="mui-table-view " style="margin-top: 20px; ">
        <li class="mui-table-view-cell nav-bar ">
            <a href="#business/bind" class="mui-navigate-right ">
                <div class="mui-pull-left jui-icons jui-icons-zhbd "></div>
                户号绑定
            </a>
        </li>
        <li class="mui-table-view-cell nav-bar ">
            <a href="#business/water" class="mui-navigate-right ">
                <div class="mui-pull-left jui-icons jui-icons-sfcx "></div>
                水费查询
            </a>
        </li>

    </ul>
    <ul class="mui-table-view " style="margin-top: 25px; ">
        <li class="mui-table-view-cell nav-bar ">
            <a href="#business/handle" class="mui-navigate-right ">
                <div class="mui-pull-left jui-icons jui-icons-ywbl "></div>
                业务办理
            </a>
        </li>
        <li class="mui-table-view-cell nav-bar ">
            <a href="#business/query" class="mui-navigate-right ">
                <div class="mui-pull-left jui-icons jui-icons-ywcx "></div>
                业务查询
            </a>
        </li>
    </ul>
    <!--<ul class="mui-table-view " style="margin-top: 25px; ">-->
        <!--<li class="mui-table-view-cell nav-bar ">-->
            <!--<a href="wzz/interact/nav.html " class="mui-navigate-right ">-->
                <!--<div class="mui-pull-left jui-icons jui-icons-zxhd "></div>-->
                <!--在线互动-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="mui-table-view-cell nav-bar ">-->
            <!--<a href="wzz/dot/list.html" class="mui-navigate-right ">-->
                <!--<i class="mui-pull-left jui-icons jui-icons-yywd "></i> 营业网点-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->
</div>


<c-nav target="{{currentView}}"></c-nav>