<div class="page-loading">
    <div class="section">
        <div class="mui-loading">
            <div class="mui-spinner">
                <div class="mui-spinner-indicator mui-spinner-indicator12"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator11"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator10"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator9"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator8"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator7"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator6"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator5"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator4"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator3"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator2"></div>
                <div class="mui-spinner-indicator mui-spinner-indicator1"></div>
            </div>
        </div>
    </div>
</div>