

<div id="jui-tool">
    <a class="mui-icon mui-icon-home" href="#home"></a>
</div>
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item " v-class="mui-active:target =='business'" href="#business">
        <span class=" mui-icon jui-tab-icons jui-icon-wzz"></span>
        <span class="mui-tab-label">供水业务</span>
    </a>
    <a class="mui-tab-item" v-class="mui-active:target =='info'" href="#info" >
        <span class=" mui-icon jui-tab-icons jui-icon-wzx "></span>
        <span class="mui-tab-label">供水信息</span>
    </a>

    <a class="mui-tab-item" v-class="mui-active:target =='custom'" href="#custom">
        <span class=" mui-icon jui-tab-icons jui-icon-wsh"></span>
        <span class="mui-tab-label">水业资讯</span>
    </a>
    <a class="mui-tab-item" v-class="mui-active:target =='service'" href="#service">
        <span class=" mui-icon jui-tab-icons jui-icon-wkf"></span>
        <span class="mui-tab-label">客服热线</span>
    </a>
</nav>