<div  class="page-service mui-scroll-wrapper" >
    <div class="mui-scroll" style="margin-bottom: 50px;">
        <div class="mui-content-padded" style="padding-top: 4px;">
            <h5 style="color: #528c03;">如需人工服务，请按以下步骤进入微客服系统:</h5>
            <p style="color: #a5a4a4">第一步：退出当前页面，进入公众号页面。</p>
            <p style="color: #a5a4a4">第二步：在公众号对话框中输入相关问题,然后等待客服回复。</p>
        </div>
        <!--<img id="img-wkf" style="width: 100%;" src="/static/images/wkf.png">-->
        <div style="text-align: center"> <button id="btn-back" class="mui-btn mui-btn-primary" style="margin-bottom: 60px;">点击退出</button></div>
    </div>
</div>

<c-nav target="{{currentView}}"></c-nav>